/***********************************************************
 * 
 *        CSS Styles for stevenbroaddus.com
 *            By Steven Broaddus 2022
 *          
 */

/********************************************/
/* Default Styles & Custom classes/IDs */

hr {
    margin: 0 auto;
}

#centered-half-hr {
    color: white;
    text-align: center;
    width: 50%;
}

/* Defines styles for links in icons */
#icon-link:link {
    color: rgb(175, 175, 175);
}

#icon-link:visited {
    color: rgb(175, 175, 175);
}

#icon-link:hover {
    color: rgb(150, 150, 150); /* darker gray */
}

#icon-link:active {
    color: rgb(100, 100, 100);
}

/* Adds simple box shadow to hr */
hr.section-hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);
}

/************/
/* Bootstrap Default Styles*/

.rounded-circle {
    border:1px solid;
    border-radius:50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    text-align: center;
}

.tooltip-light-bg {
    --bs-tooltip-bg: var(--bs-light);
    --bs-tooltip-color: black;
}

/* Card styles */
.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

@media only screen and (min-width: 726px) { /* md breakpoint */
    .card {
        transition: .5s;
    }
    
    .card:hover {
        transform:scale(1.1);
        transition: .5s;
    }
}

/********************************************/
/* Sections */

/************/
/* Home / Navigation */
.header {
    z-index: 5000;
    position: relative;
}

#home { /* welcome banner */
    background: linear-gradient(-45deg, #252425,#7b7a8a, #3e4450, #34425a);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    text-align: center;
    z-index: 0;
    vertical-align: middle;
    animation: gradient 10s ease infinite;
    position: relative;
}

#home-content {
    position: relative;
}

/* Particle background */
#particles-js {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
  }

/* Gradient for welcome background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#main-nav {
    top: 0;
    transition: top 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

/************/
/* About */

#about > * {
    color: white;
}

/************/
/* Education */

#education > * {
    color: white;
}

/************/
/* Experience */

.experience-timeline {
    border-left: 1px solid hsl(0, 0%, 85%);
    position: relative;
    list-style: none;
}

.experience-timeline .timeline-item {
    position: relative;
    margin-bottom: 5rem;
}

.experience-timeline .timeline-item:after {
    display: block;
    position: absolute;
    top: 0;
}

.experience-timeline .timeline-item:after {
    background-color: hsl(0, 0%, 75%);
    left: -40px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    content: "";
}

/************/
/* Projects */

#project-cards .card-img-top {
    width: 100%;
    object-fit: cover;
}

#project-cards .card-img-top, #project-cards .carousel-item img {
    height: 300px;
}

/************/
/* Contact */

/*********************************************************/
/* Responsive styles */
/* Uses same width breakpoints as bootstrap */

@media only screen and (min-width: 726px) { /* md breakpoint */        
    #about-skills {
        border-left: 1px solid gray;
    }

    #about-skills-list {
        list-style-type: none;
        padding-left: 0%;
    }

    #osu-logo {
        width: 10rem;
        height: 10rem;
        border: white;
        border-right: 2px;
    }

    #experiences {
        width: 50%;
    }

    #contact-row {
        margin: 5rem 0 5rem 0;
    }
}

@media only screen and (max-width: 726px) { /* md breakpoint */
    
    /* lets lists be centered without markers on small viewports */
    #about-interests-list {
        list-style-type: none;
        padding-left: 0%;
    }
    
    #about-skills-list {
        list-style-type: none;
        padding-left: 0%;
    }

    #about-skills-list ul {
        list-style-type: none;
        padding-left: 0%;
        color: gray;
    }

    #osu-logo {
        width: 8rem;
        height: 8rem;
    }

    #experiences {
        width: 75%;
    }

    #contact-row {
        margin: 1rem 0 1rem 0;
    }
}
